@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply font-sans; /* Tailwind 설정된 폰트 적용 */
  @apply text-font-primary;
}

html {
  background-color: white;
}

body {
  margin: 0 auto;
  width: 100vw;
  max-width: 430px;
  min-width: 320px;
  min-height: 100vh;
  @apply bg-background-main;
}
